/*------ General Styling ------------*/

body {
    height: 100%;
    width: 100%;
    font-size: 1.7em;
    padding-top: 70px;
    overflow-x: hidden;
    background-color: #f9ebba;
}

.container-fluid {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.content-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: #fefbf5;
    margin: 12px 0;
    text-align: center;
    border: 10px solid rgba(249, 235, 185, 0.89);
}

/*--------- Modal--------*/

.modal-backdrop {
    background-color: transparent;
}


/*--------- Header --------*/

.nav-bar {
    min-height: 60px;
    background: #ecb535;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.title {
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
}

#reset-filters {
    display: flex;
    margin: 10 20px 10px;

}
.reset a i,
.info-icon a i {
    font-size: 1.7em;
    padding-right: 5px;
    padding-left: 10px;
    color: black;
}

/*--------- Main --------*/

.gender-percent {
    width: 400px;
    height: 50px;
    display: flex;
    margin: auto;
   
}

.icon-percent {
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.gender-icon {
    font-size: 4rem;
    padding: 3px;
    width: 50px;
    height: 50px;
    margin: auto;
}

.percent {
    font-weight: 600;
    padding: 10px 3px;
}


.sidebar {
    padding-left: 15px;
    padding-right:10px;
}


/*---
#bar-alignment .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
----*/

.chart {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
}

.color {
    display: flex;
    flex-wrap: wrap;
}

.chart-content {
    font-size: .8em;
    padding: 10px 5% 0px 6%;
}

/*---------Table & Pagination--------*/
td,
th {
    padding: 4px;
    border: 1.5px solid steelblue;
    border-radius: 5px;
}

#pagination,
#all-characters-div {
    width: 100%;
    text-align: center;
    padding: 0 0 5px 0;
}

#all-characters {
    text-align: left;
    width: 80%;
    border: 1px solid black;
    font-family: cursive;
    border-collapse: separate;
    border: 1px;
    margin: auto;
}

/*--------- Footer --------*/

.page-footer {
    width: 100%;
    height: 45px;
    background-color: #ecc535;
    padding: 0;
    margin-top: 10px;
}

.return-top {
    text-align: right;
    font-size: 1.7em;
}

.return-top a i {
    color: black;
    padding: 10px;
}

/*--------- Media quieries --------*/
@media (max-width: 575.98px){
    
     .modal{
        max-width: 95%;   
      }
     .title{
       font-size: 1em;
       font-weight: bold;
    }
    .reset a i{
         padding-left: 5px;
         font-size: 1.3em;
     }
    .info-icon a i{
        padding-right: 17px;
        font-size: 1.3em;
             }
    .gender-percent {
       width: 300px;
       height: 50px;
     }
    
    .gender-icon {
        font-size: 3rem;
        padding: 2px;
        width: 30px;
        height: 30px;
    }
    .percent {
       font-weight: 600;
       padding: 5px 1px;
    }
}
