
/*------ General Styling ------------*/
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 70px;
    overflow-x: hidden;
    background-color:#f9ebba;
}

.container-fluid {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}
.content-wrapper {
    width: 100%;
    overflow:auto;
    height: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color:#fefbf5;
    margin: 12.5px 0;
    text-align: center;
}

/*--------- Modal--------*/
.modal-backdrop {
   background-color: transparent;
}
@media screen and (max-width: 767px) {
  #infoModal {
    max-width: 100vw;
  }

}

/*--------- Header --------*/

.nav-bar {
    min-height: 60px;
    background: #ecb535;
    display: flex;
    justify-content:space-between;
    text-decoration: none;
    align-items: center;
    
}
.title {
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    
    
}

#reset-filters a {
    margin: 10 20px 10px;
    float: right;
    text-decoration: none;
    color: black;
    font-size: 1em;
   
}

@media (min-width: 400px) {
    #reset-all {
      
    }
}
/*--------- Main --------*/
.gender-percent {
  width: 300px;
  height: 50px;
  display :flex;
  margin: auto;

}
.icon-percent {
    margin: 5px;
   display: flex;
  justify-content:space-around;
  background-color: lightyellow;
}
.gender-icon {
    font-size: 4rem;
    padding: 3px;
     width: 50px;
    height:50px;
    margin: auto;
   
  }
.percent {
   font-weight: 600;
   font-size: 1.5rem;
   padding: 10px 3px;
  
}
/*----icons--
.sidebar{
    display: flex;
}
.gender-percent {
  width: 130px;
  height: 50px;
  display :flex;
  margin: auto;
}
.icons {
    width: 50px;
    height:50px;
    text-align: center;
    padding: 5px;
    
}
.percent {
    width :50px;
    height: 50px;
    text-align: right;
    padding: 10px 5px 5px 5px;
    font-weight: 600;
    font-size: 1.5rem;
}
.gender-icon {
    font-size: 4rem;
    
}

----*/
.col-sm-6,
.col-sm-12
 {
  margin : 0;

  /*background-color: #f9e6ba;*/
  border: 2px black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*---
#bar-alignment .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
----*/
.chart {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
   
}
.color {
    display: flex;
    flex-wrap: wrap;
}  
/*----table---

table {
  text-align: left;
  background-color: lightyellow;
  border-collapse: separate;
  border: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}

table th {
  text-transform: uppercase;
  font-family: "Cabin Sketch", cursive;
  border: 0;
  padding: 5px;
}

table td {
  text-transform: capitalize;
  border: 0;
  padding: 5px;
}
---*/

#pagination, #all-characters-div{
      width: 100%;
      text-align: center;
      padding: 0 0 5px 0;
    }

#all-characters {
        text-align: left;
        width:80%;
        border: 1px solid black;
        font-family: cursive;
        border-collapse: separate;
        border: 1px;
        margin:auto;
    }
    
/*--------- Footer --------*/

.page-footer {
    width: 100%;
    height: 50px;
    background-color: #ecc535;
    padding: 0;
    margin: 0;
   
   }
.return-top{
    text-align: right;
    font-size: 2.5rem;
                 
}     

.return-top a i{
     color: black;
     padding: 10px;
}
     
 